// Define variables for your color scheme

// For example:

$dark-green: #457952;
$green: #92B495;
$light-green: #C5F1C9;
$orange: #E47D5B;
$off-white: #F9F8F7;
$gray: #858585;
$light-gray: #F1F0EF;
$black: #3E3E3E;
