.uploaded-product-sidebar {
  min-height: 100vh;
}

h1 {
  padding: 30px 0;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

h5 {
  font-size: 20px;
  font-weight: bold;
}

a{
  text-decoration: none;
}

.card-product-lg .col-sm-4 img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  display: block;
}

.card-product-lg {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(161, 161, 161, 0.2);
  border-radius: 6px;
  padding: 20px 30px;
}

.product-card-show {
  padding: 20px;
  padding-left: 52px;
  height: 100%;
  margin: 0;

  &--with-wishlist {
    position: relative;

    .wishlist-button--main-card {
      position: absolute;
      top: 12px;
      right: 12px;
      z-index: 10;
    }
  }
}

.product-description {
  margin: 16px 0;
  width: 80%;
  font-size: 24px;
}

.product-price-lg {
  font-size: 26px;
}

.brand-intro {
  display: flex;
  flex-direction: row;
  margin: 28px 0;
  align-items: center;
  gap: 16px;
}

.overall-rating {
  width: 100%;
}

.brand-description-full {
  font-size: 18px;
}

.overall-rating-container {
  border: solid 1px gray;
  border-radius: 4px;
  padding: 22px 24px;
  height: fit-content;
  width: fit-content
}

.score {
  display: flex;
  flex-direction: column;

  p {
    font-size: 14px;
  }
}

.rating-vs {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}

.total-rating {
  color: gray;
  font-size: 20px;
}

.secondary-ratings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 0;
  border-top: solid 1px gray;
  margin-top: 20px;
}

.rating-category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  margin-bottom: 4px;
}



.similar-products {
  margin: 20px 0;
}

.filters {
  display: flex;
  justify-content: start;
  gap: 20px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px !important;
}


.results-section {
  padding-left: 40px;
  padding-top: 40px;
}

.results-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}



/* sidebar styles */

.uploaded-product-sidebar {
  background-color: rgb(196, 196, 196);
  padding: 40px 40px;
}

.uploaded-product {
  width: 100%;
  padding: 16px 0 22px 0;
  display: flex;
  flex-direction: column;

  img {
    height: auto;
    width: 40%;
    margin-right: 26px;
    border-radius: 4px;
  }
}

.uploaded-product__main {
  display: flex;
  margin-bottom: 20px;
}

.uploaded-product__details {
  display: flex;
  flex-direction: column;
}

.uploaded_product__label {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0;
}

.rating-item {
    width: fit-content;
    border-bottom: 0;
    margin-bottom: 16px;
}

.rating-item__label {
  font-size: 14px;
  font-weight: 700;
}

.rating-item__icon {
  font-size: 18px;
  margin: 0 2px;
}

.inactive {
  color: var(--color-inactive);
}
