.filters-buttons {
  align-content: baseline;
  height: fit-content;
}

.btn-search .btn-clear {
  height: 41.09px;
}

.btn-clear {
  padding: 0 12px;
}

.dropdown-rating {
  width: 120px;
}

.dropdowns-group {
  flex-grow: 1;
}

.filters {
  align-content: baseline;
}
