.selectors-group{
  display:flex;
  gap:16px;
  align-items:flex-end;
  width:100%;
  flex-wrap:nowrap;
  min-width:0;
}

.selectors-group > div{
  flex: 1 1 0;
  min-width: 0;
}
.filter-field {
  flex: 1 1 0;
  min-width: 0;
}

.dropdown-rating {
  flex: 0.6 1 60px;
  min-width: 0;
}

.first-input-field {
  flex: 0.6 1 80px;
  min-width: 0;
}

.dropdown-rating .form-select{
  width: 100%;
  min-width: 0;
}
